<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>inventoryapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserReg</display-name>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>controller.UserReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductRegister</display-name>
    <servlet-name>ProductRegister</servlet-name>
    <servlet-class>controller.ProductRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductRegister</servlet-name>
    <url-pattern>/ProductRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewproduct</display-name>
    <servlet-name>viewproduct</servlet-name>
    <servlet-class>controller.viewproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewproduct</servlet-name>
    <url-pattern>/viewproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfo</display-name>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>controller.UserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
</web-app>